<div class="text-center">
	<h1 class="display-4">Новости (lazy)</h1>
	<p>Новости выводятся отложено (через 10 секунд после загрузки страницы) с помощью jQuery.</p>
</div>

<div class="news hidden" data-action="lazy-load"></div>

<button class="btn w-100 btn-success hidden" data-action="more-news">Еще новостей!</button>
