<div class="text-center">
	<h1 class="display-4">Главная</h1>
	<p><a href="https://github.com/Yxine/jquery-ninja" target="_blank">https://github.com/Yxine/jquery-ninja</a></p>
</div>

<p>1. Что такое <a href="/jquery">jQuery</a> и&nbsp;для чего&nbsp;он?</p>
<p>2. <a href="/news">Динамический</a> вывод новостей и&nbsp;подзагрузка истории</p>
<p>3. <a href="/lazy">Отложенный</a> вывод новостей и&nbsp;подзагруза истории</p>
<p>4. Вопросы <a href="/security">безопасности</a></p>
<p>5. Различные <a href="/sandbox">фишки</a> jQuery</p>
