<div class="text-center">
	<h1 class="display-4">Главная</h1>
</div>

<p>1. Что такое <a href="/jquery">jQuery</a> и для чего он?</p>
<p>2. <a href="/news">Динамический</a> вывод новостей и подзагрузка истории</p>
<p>3. <a href="/lazy">Отложенный</a> вывод новостей и подзагруза истории</p>
<p>4. Вопросы <a href="/security">безопасности</a></p>
<p>5. Различные <a href="/sandbox">фишки</a> jQuery</p>
