<div class="text-center">
	<h1 class="display-4">jQuery</h1>
	<p>Краткое введение в&nbsp;фреймворк. Более детальная информация&nbsp;&mdash; <a href="https://ru.wikipedia.org/wiki/JQuery" target="_blank">https://ru.wikipedia.org/wiki/JQuery</a>.</p>
</div>
<p>jQuery — набор функций JavaScript, фокусирующийся на взаимодействии JavaScript и HTML. Библиотека jQuery помогает легко получать доступ к любому элементу DOM (Sizzle), обращаться к атрибутам и содержимому элементов DOM, манипулировать ими. Также библиотека jQuery предоставляет удобный API для работы с AJAX. Разработка jQuery ведётся командой добровольцев на пожертвования.</p>
<h2>Преимущества jQuery</h2>
<br>
<ol>
	<li><b>Дал конкретного пендаля для развития браузеров и JS!</b>. В БКС начали применять в 2009 году, практически с первых версий фреймворка.</li>
	<li>Один из первых фреймворков, работу начинал еще с IE 6.0, получил огромнейшее распространение и уважение из-за простоты.</li>
	<li>Поддерживает плагины. Их огромное количество и они покрывают большую часть разнообразия функциональности, которую можно придумать в Web (анимация, календари, табы и т.п.).</li>
	<li>Создал аспект разделения фронтенд / бекенд</li>
	<li>Привлек очень много специалистов в IT, так как по сути упростил JS. В дальнейшем Microsoft даже создаст TypeScript, а сам JS начнут использовать на мобилках, в видео (начальные титры в сериале True Detective) и прочее.</li>
</ol>
