<div class="text-center">
	<h1 class="display-4">jQuery</h1>
	<p>Краткое введение в&nbsp;фреймворк. Более детальная информация&nbsp;&mdash; <a href="https://ru.wikipedia.org/wiki/JQuery" target="_blank">https://ru.wikipedia.org/wiki/JQuery</a>.</p>
</div>
<p>jQuery&nbsp;&mdash; набор функций JavaScript, фокусирующийся на&nbsp;взаимодействии JavaScript и&nbsp;HTML. Библиотека jQuery помогает легко получать доступ к&nbsp;любому элементу DOM (Sizzle), обращаться к&nbsp;атрибутам и&nbsp;содержимому элементов DOM, манипулировать ими. Также библиотека jQuery предоставляет удобный API для работы с&nbsp;AJAX. Разработка jQuery ведётся командой добровольцев на&nbsp;пожертвования.</p>
<h2>Преимущества jQuery</h2>
<br>
<ol>
	<li><b>Дал конкретного пендаля для развития браузеров и&nbsp;JS!</b>. В&nbsp;БКС начали применять в&nbsp;2009&nbsp;году, практически с&nbsp;первых версий фреймворка.</li>
	<li>Один из&nbsp;первых фреймворков, работу начинал еще с&nbsp;IE&nbsp;6.0, получил огромнейшее распространение и&nbsp;уважение из-за простоты.</li>
	<li>Поддерживает плагины. Их&nbsp;огромное количество и&nbsp;они покрывают большую часть разнообразия функциональности, которую можно придумать в&nbsp;Web (анимация, календари, табы и&nbsp;т.п.).</li>
	<li>Создал аспект разделения фронтенд&nbsp;/ бекенд</li>
	<li>Привлек очень много специалистов в&nbsp;IT, так как по&nbsp;сути упростил JS. В&nbsp;дальнейшем Microsoft даже создаст TypeScript, а&nbsp;сам&nbsp;JS начнут использовать на&nbsp;мобилках, в&nbsp;видео (начальные титры в&nbsp;сериале True Detective) и&nbsp;прочее.</li>
</ol>
